<div class="container">
  <div class="col-md-6 col-md-offset-2">
    <div class="pull-right">
      <a ui-sref="challenges.new" class="btn btn-default" ng-show="loginObj.user">New Challenge</a>
    </div>
    <h2>Challenges</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="challenge in challenges | orderByPriority">
        <a class="media" ui-sref="challenges.show({id: challenge.$id})">
          <div class="pull-left">
            <img class="media-object" ng-src="{{challenge.user.avatar_url}}" />
          </div>
          <div class="media-body">
            <div class="pull-right">{{challenge.created | date }}</div>
            <h4 class="media-heading">{{challenge.title}}</h4>
            {{challenge.description}}
            <br />
            <div class="pull-right" ng-show="loginObj.user.$uid == challenge.user.$uid">
              <a ui-sref="challenges.edit({id: challenge.$id})">edit</a>
            </div>
          </div>
        </a>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
