<div class="container">
  <h2>{{state}} Challenge</h2>
  <form name="form" novalidate ng-submit="save()">
    <div class="form-group">
      <input class="form-control input-lg" placeholder="title" ng-model="challenge.title">
    </div>
    <div class="form-group">
      <label>Details</label>
      <!-- should accept markdown -->
      <!-- use code mirror as input -->
      <textarea class="form-control" rows="20" ng-model="challenge.description">
    </div>
    <div class="form-group">
      <label>Review Criteria</label>
      <p>When reviewing a submission, use this criteria to determine
        quality of the submission ie. functional, ux, test coverage, etc</p>
      <textarea class="form-control" rows="15" ng-model="challenge.criteria"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-default">Save as Draft</button>
      <button class="btn btn-default">Submit</button>
    </div>
  </form>