<div class="container">
  <h2>Challenges</h2>
  <button class="btn btn-primary">New Challenge</button>
  <form name="search" novalidate>
    <div class="form-group">
      <input class="form-control" placeholder="search">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
  <div class="media-list">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://placehold.it/64" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">Challenge Name</h4>
      <p>Challenge Description ........</p>
      <!-- challenge level of difficulty -->
      <!-- maybe like a golf style difficulty rating -->
      <!-- first the challenge is rated par 3, par 4, par 5 -->
      <!-- then each entry when graded is a eagle, birdie, par, boogie, double -->
      <!-- each player then can have a simple aggregate score of all their challenges -->
      <!-- @twilson has played 20 challenges and is -2 under par -->
      <!-- @james has played 30 challenges and is -4 under par -->

      <span class="label label-primary">Par 3</span>
      <!-- number of developers that have completed challenge -->
      <span class="badge badge-info">42</span>
    </div>
    </div>
  </div>
</div>
