<header class="jumbotron">
  <div class="container">
    <h1>Couch2Code</h1>
    <p>To get better at programming you must get off the couch and start writing code! Don't know where to start, we are here to help!</p>
  </div>    
</header>
<div class="container">
  <div class="alert alert-success" ng-show="completed">
    <h4>Thank you for registering for our mailing list, we will keep you updated</h4>
  </div>
  <center>
  <h2>Get Registered</h2>
  <p>or <a ui-sref="login">Login</a>
</center>
  <div style="padding-top: 50px;" ng-hide="completed">
    <form class="col-lg-4 col-lg-offset-4" name="form" novalidate ng-submit="register('email')">
      <div class="form-group">
        <input class="input-lg form-control" type="email" placeholder="email" ng-model="user.email">
      </div>
      <div class="form-group">
        <input class="input-lg form-control" type="password" placeholder="password" ng-model="user.password">
      </div>
      <div class="form-group">
        <button class="btn btn-info" ng-click="loginObj.$login('github')">
          Github
        </button>
        <button class="btn btn-info" ng-click="loginObj.$login('twitter')">
          Twitter
        </button>
        <button class="btn btn-info" ng-click="loginObj.$login('facebook')">
          Facebook
        </button>
        <button class="btn btn-large btn-primary pull-right">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
<footer>
  <div class="container">
    <p>All Rights Reserved.</p>
  </div>
</footer>
